/*
Color Palette
background color: #A4BE7B
primary: #799351
secondary: #799351
tertiary: #A13939
accent: #E5BA73
white: #fff
black: #000  
*/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A4BE7B;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #A13939;
    font-family: 'Cedarville Cursive';
    color: #fff;
    padding: 1.5rem;
    margin: 1.2rem;
}

h1,
h2 {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
}

.celebration {
    background-color: #799351;
    margin: 1.2rem;
    padding: 1.5rem;
    line-height: 2rem;
}

.celebration p {
    text-indent: 1.2rem;
}
